.my-container {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

html,
body {
    scroll-behavior: smooth;
}

.navbtn {
    background-color: #0075FF;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbtn:hover {
    background-color: #005ecf;
}

.srcollbtn {
    opacity: 0;
    transition: opacity .3s ease-in, transform .3s ease-in;
    transform: translateY(-40px);
}

.srcollbtn.active {
    opacity: 1;
    transform: translateY(0);
}


.mobile-menu {
    transition: .3s linear;
    position: fixed;
    background-color: greenyellow;
    width: 100%;
    height: auto;
    transform: translateY(-140%);
    z-index: 0;
    box-shadow: #14142B0A;
    border-radius: 2%;
}

.mobile-menu.active {
    transform: translateY(0);
}