.my-container {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

html,
body {
    scroll-behavior: smooth;
}

.navbtn {
    background-color: #0075FF;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbtn:hover {
    background-color: #005ecf;
}

#menu.active {
    transform: scale(1);
    opacity: 0.8;
}